/* Write your code here. */
.winorlosecontainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  border: 3px solid #ffffff30;
  background-color: #ffffff33;
  border-radius: 10px;
  padding: 10px;
}
.detatilscontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.winorlose-status {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}

.score-label {
  font-family: 'Roboto';
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
  margin: 0px;
}

.score-value {
  font-family: 'Roboto';
  font-family: 'Roboto';
  font-size: 12px;
  color: #6a59ff;
  margin: 0px;
}
.playagain-button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #ffce27;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #3d3d3d;
  padding: 5px;
  font-weight: bold;
  font-size: 10px;
  margin: 5px;
}
.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.wonOrLossimage {
  width: 90%;
}
